<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Dapper.Extensions" version="1.2.1.0" targetFramework="net462" />
  <package id="DapperExtensions" version="1.5.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Azure.Amqp" version="2.0.5" targetFramework="net462" />
  <package id="Microsoft.Azure.Devices" version="1.2.4" targetFramework="net462" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net462" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.0.12" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net462" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net462" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net462" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net462" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net462" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net462" />
  <package id="Validation" version="2.2.8" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="4.1.0" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net462" />
</packages>